In [1]:
import gc
import csv

fn = 'Motor_Vehicle_Collisions_-_Crashes.csv'
f = open(fn, 'r')
reader = csv.reader(f)
n =0
for row in reader:
    print(row)
    if n==2:
        break
    n+=1
print(n)
gc.collect()

['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']
['09/11/2021', '2:39', '', '', '', '', '', 'WHITESTONE EXPRESSWAY', '20 AVENUE', '', '2', '0', '0', '0', '0', '0', '2', '0', 'Aggressive Driving/Road Rage', 'Unspecified', '', '', '', '4455765', 'Sedan', 'Sedan', '', '', '']
['03/26/2022', '11:45', '', '', '', '', '', 'QUEENSBORO BRIDGE UPPER', '', '', '1', '0', '0', '0', '0', '0', '1', '0', 'Pavement Slippery', '', '', '', '', '4513547', 'Sedan', '', '', '', '']
2

155

In [2]:
import pandas as pd
df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv')
df.isnull().sum()

C:\Users\admin\AppData\Local\Temp\ipykernel_3552\2195386199.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv')

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           606360
ZIP CODE                          606596
LATITUDE                          224602
LONGITUDE                         224602
LOCATION                          224602
ON STREET NAME                    406534
CROSS STREET NAME                 721057
OFF STREET NAME                  1638104
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       5939
CONTRIBUTING FACTOR VEHICLE 2     292631
CONTRIBUTING FACTOR VEHICLE 3    1815364
CONTRIBUTING FACTOR VEHICLE 4    1921809
CONTRIBUTING FACTOR VEHICLE 5    1944101
COLLISION_ID                           0
VEHICLE TYPE CODE 1                11644
VEHICLE TYPE CODE 2               354831
VEHICLE TYPE CODE 3              1819903
VEHICLE TYPE CODE 4              1922791
VEHICLE TYPE CODE 5              1944338
dtype: int64

# Number of rows with null data in either of the prominent rows
## Here in the cell below I have tried counting how many rows have atleast one of the prominent fields of my dataset as NULL also the index of these rows.

In [3]:
import csv

fn = 'Motor_Vehicle_Collisions_-_Crashes.csv'
f = open(fn, 'r')
reader = csv.reader(f)
n = 0
nc = 0
ncl = list()

for row in reader:
    if row[0]==''or row[1]=='' or row[3]=='':

        #if row[0][6:10] != '2021' and row[0][6:10] != '2022' and row[0][6:10] != '2020':
        nc+=1
        ncl.append(n)
        #print(n,nc,ncl)
    #print(n)
    n+=1
print(n,nc,len(ncl),n)
ncl = set(ncl)
print(n,nc,len(ncl),n)

1952268 606596 606596 1952268
1952268 606596 606596 1952268

In [4]:
import csv
fn = 'Motor_Vehicle_Collisions_-_Crashes.csv'
f = open(fn, 'r')
reader = csv.reader(f)

f2 = open('Acollision.csv','w')
f2.write('')
f2.close()

f2 = open('Acollision.csv','a')
writer = csv.writer(f2,delimiter=',',lineterminator='\n')
ncl = set(ncl)


n=0
for row in reader:
    if n not in ncl:
        if n == 0:
            l = []
            for i in range(len(row)):
                if i == 0:
                    continue
                elif i == 1:
                    l.append('CRASH DATETIME')
                else:
                    l.append(row[i])
            writer.writerow(l)
        else:
            l = []
            for i in range(len(row)):
                if i == 0:
                    s = row[i]
                elif i == 1:
                    s = s+' '+row[i]
                    l.append(s)
                else:
                    l.append(row[i])
            writer.writerow(l)
            
    n+=1
print(n)

1952268

In [5]:
import pandas as pd
df = pd.read_csv('Acollision.csv')
df.isnull().sum()

C:\Users\admin\AppData\Local\Temp\ipykernel_3552\1250550710.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Acollision.csv')

CRASH DATETIME                         0
BOROUGH                                0
ZIP CODE                               0
LATITUDE                           35419
LONGITUDE                          35419
LOCATION                           35419
ON STREET NAME                    280765
CROSS STREET NAME                 281319
OFF STREET NAME                  1065403
NUMBER OF PERSONS INJURED             11
NUMBER OF PERSONS KILLED              23
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4551
CONTRIBUTING FACTOR VEHICLE 2     213120
CONTRIBUTING FACTOR VEHICLE 3    1263880
CONTRIBUTING FACTOR VEHICLE 4    1326650
CONTRIBUTING FACTOR VEHICLE 5    1340236
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 8720
VEHICLE TYPE CODE 2               255791
VEHICLE TYPE CODE 3              1266416
VEHICLE TYPE CODE 4              1327161
VEHICLE TYPE CODE 5              1340367
dtype: int64

In [6]:
f2 = open('Acollision.csv','r')
reader= csv.reader(f2)
n=0
for row in reader:
    print(row)
    if n ==2:
        break
    n+=1
n=0
for row in reader:
    n+=1
print(n)

['CRASH DATETIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']
['09/11/2021 9:35', 'BROOKLYN', '11208', '40.667202', '-73.8665', '(40.667202, -73.8665)', '', '', '1211      LORING AVENUE', '0', '0', '0', '0', '0', '0', '0', '0', 'Unspecified', '', '', '', '', '4456314', 'Sedan', '', '', '', '']
['12/14/2021 8:13', 'BROOKLYN', '11233', '40.683304', '-73.917274', '(40.683304, -73.917274)', 'SARATOGA AVENUE', 'DECATUR STREET', '', '0', '0', '0', '0', '0', '0', '0', '0', '', '', '', '', '', '4486609', '', '', '', '', '']
1345606

In [7]:
gc.collect()

0

In [8]:
f = open('Acollision.csv','r')
reader= csv.reader(f)

f2 = open('collision_2020_2022.csv','w')
f2.write('')
f2.close()

f2 = open('collision_2020_2022.csv','a')
writer = csv.writer(f2,delimiter=',',lineterminator='\n')
n=0
for row in reader:
    if n==0:
        writer.writerow(row)
    elif row[0][6:10]=="2020" or row[0][6:10]=="2021" or row[0][6:10]=="2022":
        writer.writerow(row)
    n+=1
print(n)
f2.close()

1345672

In [9]:
f2 = open('collision_2020_2022.csv','r')
reader= csv.reader(f2)
n=0
for row in reader:
    print(row)
    if n ==2:
        break
    n+=1
n=0
for row in reader:
    n+=1
print(n)

['CRASH DATETIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']
['09/11/2021 9:35', 'BROOKLYN', '11208', '40.667202', '-73.8665', '(40.667202, -73.8665)', '', '', '1211      LORING AVENUE', '0', '0', '0', '0', '0', '0', '0', '0', 'Unspecified', '', '', '', '', '4456314', 'Sedan', '', '', '', '']
['12/14/2021 8:13', 'BROOKLYN', '11233', '40.683304', '-73.917274', '(40.683304, -73.917274)', 'SARATOGA AVENUE', 'DECATUR STREET', '', '0', '0', '0', '0', '0', '0', '0', '0', '', '', '', '', '', '4486609', '', '', '', '', '']
209995

## Date-Time Range

In [10]:
import datetime,csv
fn = 'collision_2020_2022.csv'

f = open(fn, 'r')
reader = csv.reader(f)
minval = None
maxval = None
n = 0

for row in reader:
    if n > 0:
        dto = None
        dts = row[0]
        try:
            dto = datetime.datetime.strptime(dts,"%m/%d/%Y %H:%M" )
        except Exception as e:
            print(e)
        if dto is not None:
            if maxval is None or dto > maxval:
                maxval = dto
            elif minval is None or dto < minval:
                minval = dto
    n+=1
print(minval, maxval)

2020-01-01 00:00:00 2022-12-09 23:50:00

In [11]:
import pandas as pd
df = pd.read_csv('collision_2020_2022.csv')
df.isnull().sum()

CRASH DATETIME                        0
BOROUGH                               0
ZIP CODE                              0
LATITUDE                           6227
LONGITUDE                          6227
LOCATION                           6227
ON STREET NAME                    82584
CROSS STREET NAME                 82675
OFF STREET NAME                  127413
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      1226
CONTRIBUTING FACTOR VEHICLE 2     50523
CONTRIBUTING FACTOR VEHICLE 3    191484
CONTRIBUTING FACTOR VEHICLE 4    204750
CONTRIBUTING FACTOR VEHICLE 5    208327
COLLISION_ID                          0
VEHICLE TYPE CODE 1                2808
VEHICLE TYPE CODE 2               73140
VEHICLE TYPE CODE 3              192760
VEHICLE TYPE CODE 4              204988
VEHICLE TYPE CODE 5              208382
dtype: int64

In [12]:
import csv

fn = 'collision_2020_2022.csv'

f = open(fn, 'r')
reader = csv.reader(f)
n = 0
llc = 0
ll = []
date_dic = dict()
for row in reader:
    if row[3] == '' or row[4]=='':
        llc+=1
        ll.append(n)
    n+=1
print(len(ll),llc)

6227 6227

In [13]:
import csv

fn = 'collision_2020_2022.csv'

f = open(fn, 'r')
reader = csv.reader(f)
n = 0
zc = 0
zl = []
for row in reader:
    if row[2]=='':
        zc+=1
        zl.append(n)
    n+=1
print(len(zl),zc)

0 0

In [14]:
zlll=[]
zllc=0
for i in zl:
    if i in ll:
        zllc+=1
        zlll.append(i)

print(zllc,len(zlll))

0 0

In [15]:
f = open('collision_2020_2022.csv','r')
reader= csv.reader(f)

f2 = open('c_collision_2020_2022.csv','w')
f2.write('')
f2.close()

f2 = open('c_collision_2020_2022.csv','a')
writer = csv.writer(f2,delimiter=',',lineterminator='\n')
n=0
zlll= set(zlll)
for row in reader:
    if n not in zlll:
        writer.writerow(row)
    n+=1
print(n)

209998

In [16]:
import csv

fn = 'c_collision_2020_2022.csv'

f = open(fn, 'r')
reader = csv.reader(f)
n = 0
llc = 0
ll = []
date_dic = dict()
for row in reader:
    if row[3] == '' or row[4]=='':
        llc+=1
        ll.append(n)
    n+=1
print(len(ll),llc)

6225 6225

In [17]:
import csv

fn = 'c_collision_2020_2022.csv'

f = open(fn, 'r')
reader = csv.reader(f)
n = 0
zc = 0
zl = []
for row in reader:
    if row[2]=='':
        zc+=1
        zl.append(n)
    n+=1
print(len(zl),zc)

0 0

In [18]:
df = pd.read_csv('c_collision_2020_2022.csv')

In [19]:
df.isna().sum()

CRASH DATETIME                        0
BOROUGH                               0
ZIP CODE                              0
LATITUDE                           6225
LONGITUDE                          6225
LOCATION                           6225
ON STREET NAME                    82560
CROSS STREET NAME                 82651
OFF STREET NAME                  127374
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      1226
CONTRIBUTING FACTOR VEHICLE 2     50511
CONTRIBUTING FACTOR VEHICLE 3    191427
CONTRIBUTING FACTOR VEHICLE 4    204689
CONTRIBUTING FACTOR VEHICLE 5    208264
COLLISION_ID                          0
VEHICLE TYPE CODE 1                2808
VEHICLE TYPE CODE 2               73120
VEHICLE TYPE CODE 3              192702
VEHICLE TYPE CODE 4              204927
VEHICLE TYPE CODE 5              208319
dtype: int64

In [20]:
import csv

fn = 'c_collision_2020_2022.csv'

f = open(fn, 'r')
reader = csv.reader(f)
n = 0
zip_dic = dict()
for row in reader:
    if n>0:
        if row[2] in zip_dic:
            zip_dic[row[2]]+=1
        else:
            zip_dic[row[2]]=1
    n+=1

In [21]:
print(len(zip_dic),n)

220 209935

In [ ]:
len(l)

In [22]:
import csv

fn = 'Zip.csv'
zip_code=dict()
f = open(fn, 'r')
reader = csv.reader(f)
n = 0
for row in reader:
    if str(row[2]) in zip_code:
        continue
    else:
        zip_code[str(row[2])]= [row[0],row[1]]
    
    n+=1
print(n,len(zip_code))

33145 33145

In [28]:
n=0


for i in zip_code:
    print(i,zip_code[i])
    if n==3:
        break
    n+=1
print(n)

if '11249' in zip_code:
    print('hai')

ZIP ['LAT', 'LNG']
00601 ['18.180555', '-66.749961']
00602 ['18.361945', '-67.175597']
00603 ['18.455183', '-67.119887']
3

In [29]:
f = open('c_collision_2020_2022.csv','r')
reader= csv.reader(f)

f2 = open('final_collision_2020_2022.csv','w')
f2.write('')
f2.close()

f2 = open('final_collision_2020_2022.csv','a')
writer = csv.writer(f2,delimiter=',',lineterminator='\n')
n=0
for row in reader:
    if row[3]=="" or row[4]=="":
        if row[2] in zip_code:
            l = []
            for i in range(len(row)):
                if i == 3:
                    s = zip_code[row[2]]
                    l.append(s[0])
                elif i ==4:
                    s = zip_code[row[2]]
                    l.append(s[1])
                else:
                    l.append(row[i])
            writer.writerow(l)
        else:
            continue
    else:
        writer.writerow(row)
    n+=1
print(n)

209961

In [30]:
import pandas as pd
df1 = pd.read_csv('final_collision_2020_2022.csv')
df1.isna().sum()

CRASH DATETIME                        0
BOROUGH                               0
ZIP CODE                              0
LATITUDE                              0
LONGITUDE                             0
LOCATION                           6188
ON STREET NAME                    82547
CROSS STREET NAME                 82638
OFF STREET NAME                  127354
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      1224
CONTRIBUTING FACTOR VEHICLE 2     50505
CONTRIBUTING FACTOR VEHICLE 3    191394
CONTRIBUTING FACTOR VEHICLE 4    204656
CONTRIBUTING FACTOR VEHICLE 5    208231
COLLISION_ID                          0
VEHICLE TYPE CODE 1                2807
VEHICLE TYPE CODE 2               73113
VEHICLE TYPE CODE 3              192669
VEHICLE TYPE CODE 4              204894
VEHICLE TYPE CODE 5              208286
dtype: int64

In [33]:
import pandas as pd
df1 = pd.read_csv('f1.csv')

In [34]:
df1.nunique()

STATION                         1
DATE                        13215
BackupLatitude                  1
BackupLongitude                 1
BackupName                      1
HourlyAltimeterSetting        167
HourlyPresentWeatherType      101
HourlySkyConditions          5033
HourlyVisibility               47
HourlyWindDirection            38
HourlyWindSpeed                31
dtype: int64

In [158]:
df5 = pd.read_csv('f5.csv')
df5.nunique()

STATION                         1
DATE                        12517
BackupLatitude                  1
BackupLongitude                 1
HourlyAltimeterSetting        165
HourlyPresentWeatherType       84
HourlySkyConditions          3962
HourlyVisibility               45
HourlyWindDirection            38
HourlyWindSpeed                33
dtype: int64

In [155]:
f= open('f1.csv','r')
reader = csv.reader(f)
for row in reader:
    weather_head=row
    break
print(len(weather_head))

10

In [172]:
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [173]:
def nearest_ws(rlat,rlong,l_fn,data):
    nwsd = dict()
   
    for i in l_fn:
        mn=999999999
        f = open(i,'r')
        reader = csv.reader(f)
        j=0
        for row in reader:
            if j>0:
                #print(row[3])
                d = haversine(float(row[3]),float(row[2]),rlong,rlat)
                if d<=mn:
                    mn=d
                    wf=i
                break
            j+=1
        f.close()
    f = open(wf,'r')
    j=0
    reader = csv.reader(f)
    for row in reader:
        if j>0:
            s1 = row[1]
            d1 = s1.split()
            mdy1 = d1[0].split('/')
            h1 = int(d1[1].split(':')[0]) 
            s2 = data[0]
            d2 = s2.split()
            mdy2 = d2[0].split('/')
            h2 = int(d2[1].split(':')[0])
            if int(mdy1[0]) == int(mdy2[0]) and int(mdy1[1]) == int(mdy2[1]) and int(mdy1[2]) == int(mdy2[2][2:]) and h1 == h2:
                y = data+row
                return y
            else:
                return data+['','','','','','','','','','',]
        j+=1

In [174]:
ff = open('final_collision_2020_2022.csv','r')

f2 = open('weather_collision_2020_2022.csv','w')
f2.write('')
f2.close()

f2 = open('weather_collision_2020_2022.csv','a')
writer = csv.writer(f2,delimiter=',',lineterminator='\n')

reader = csv.reader(ff)
l = ['f4.csv','f5.csv']
n=0
for row in reader:
    if n==0:
        writer.writerow(weather_head)
    else:
        #print(row[4],row[3])
        weather_station = nearest_ws(float(row[4]),float(row[3]),l,row)
        writer.writerow(weather_station)
    n+=1